footer.footer
    div.footer__logo
        p place for image 
    ul.footer__nav
        li: a(href='#') footer text
        li: a(href='#') footer text
        li: a(href='#') footer text
        li: a(href='#') footer text
        li: a(href='#') footer text
    p.footer__copyright copyright: oskar