extends base

block content 
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Log in to your account
            form.form.form--login
                div.form__group
                    label.form__label(for='email') Email address 
                    input#email.form__input(type="email", placeholder="example@email.com", required)
                div.form__group.ma-bt-md
                    label.form__label(for='password') Password 
                    input#password.form__input(type="password", placeholder="password", required, minlength="8")
                div.form__group
                    button.btn.btn--green Login
