extends base

block content 
    main
        if user
            h1 Parfums in database:
            h2 Total value: 
            h2 more faszsag
            h2 more faszsag
            h2 more faszsag
            h2 more faszsag
            h2 more faszsag
            h2 more faszsag
        else 
            h1 Please login to see more.
