extends base

block content 

    main.main 
        div.upload-form
            h2 Upload Products 
            form.form-upl
                div.form__group-upl
                    label.form__label-upl(for='name') Parfum name 
                    input#name.form__input-upl(type="text", placeholder="Armani Code", required)
                div.form__group-upl
                    label.form__label-upl(for='price') Price 
                    input#price.form__input-upl(type="number", placeholder="100", required)
                div.form__group-upl
                    label.form__label-upl(for='description') Description 
                    input#description.form__input-upl(type="text", placeholder="Parfum description", required)
                div.form__group-upl
                    label.form__label-upl(for='brand') Brand 
                    input#brand.form__input-upl(type="text", placeholder="Armani", required)
                div.form__group-upl
                    label.form__label-upl(for='quantity') Quantity
                    input#quantity.form__input-upl(type="number", placeholder="25", required)
                div.form__group-upl
                    label.form__label-upl(for='year') Year 
                    input#year.form__input-upl(type="text", placeholder="1990")

                // sex, category, parfType, condition.... checkbox
                div.form__group-upl
                    label.form__label-upl(for='sex') Man
                    input#sex.form__input-upl(type="checkbox" class="radio" value="1" name="fooby")
                    label.form__label-upl(for='sex') Woman
                    input#sex.form__input-upl(type="checkbox" class="radio" value="2" name="fooby") 
                    label.form__label-upl(for='sex') Uni
                    input#sex.form__input-upl(type="checkbox" class="radio" value="3" name="fooby]")
                   
                   
                   
                   
                div.form__group-upl
                    button.btn.btn--green Upload           